<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #1a2c50;
  --secondary-color: #f4f7fe;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #ffffff;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif; 
    background-color: #f4f7fe;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    background: rgba(0, 0, 0, 0.7);
    width: 100%; /* Ensure it stretches to full width */
    align-items:center;
}

.navigation .part_1,
.navigation .part_2 {
    display: flex;
    gap: 30px;
    color: #97a7b7;
    font-size: 1rem;
    margin: auto 10px;
    justify-content:center;
}
.navigation .part_1{
  justify-content:center;
  align-items:center;
  height:6vh;
}

.navigation .part_2 {
    color: #fff;
    height:6vh;
    gap:1.3rem;
    justify-content:center;
    align-items:center;
}

.navigation .part_2 .login {
    outline: none;
    border: none;
    color: #97a7b7;
    background: transparent;
    font-size: 1.2rem;
    border:1px solid white;
    border-radius: 5px;
    height: 5vh;
    width: 100px;
}

.navigation .part_2 .start {
    outline: none;
    border: none;
    color: #fff;
    background: #e9490f;
    font-size: 1.2rem;
    height: 5vh;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

header {
    width: 100%; /* Ensure it stretches to full width */
    height: 60px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.header-container {
 display:flex;
 width:100%; 
 background-color:white;
 justify-content: space-between;
 align-items: center;
 height: 60px;
 padding:0 43px;
 color: #000;
 box-sizing: border-box;
 margin:0 auto;
}

hr {
    color: #1a2c50;
}

.logo {
    display:flex;
    align-items: center;
    justify-content:center;
    height: 60px;
    display:flex;
}    

.logo p {
    font-size: 2rem;
    font-weight: 550;
    color: #f94d00;
}

nav ul {
    list-style: none;
    display: flex;
    gap:40px;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 450;
}

nav ul li a button {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #f94d00;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

nav ul li a button:hover {
    border: 1px solid blue;
}

nav ul li a:hover {
    color: orange;
}

main {
    padding: 10px;
    display: flex;
    align-items: center;
    height: calc(100vh - 120px); /* Adjust based on header/footer height */
    background-color: #f4f7fe;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px; /* Add space between text and image */
    max-width: 1200px;
    margin: 0 auto;
}

.text-buttons {
    max-width: 100%;
    margin:0 auto;
}
.text-buttons .learn {
  outline:none;
  border: 1px solid #e9490f;
  color:  #e9490f;
  border-radius: 20px;
  background:transparent;
  padding:5px 10px;
  font-weight:600;
}
  

.text-buttons h1 {
    margin-bottom: 20px;
    font-size: 2.3rem;
    font-weight:700; 
}
.text-buttons p {
  font-size:1rem;
}

.text-buttons h1 b {
    color: #f94d00;
}

.buttons {
    margin:0 auto;
    padding-top: 20px;
    gap: 25px;
    border:5px;
  
}

.buttons .btn1 {
    padding: 15px 50px;
    margin-right: 10px;
    background-color: #f94d00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 400;
}

.buttons .btn2 {
    background-color: transparent;
    border: 1px solid #f94d00;
    padding: 15px 50px;
    margin-right: 10px;
    color: blue;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 400;
}

.buttons .btn1:hover {
    border: 1px solid blue;
}
.illustration {
    width: 100%; /* Ensure container is not wider than its parent */
    max-width: 700px;
    height: auto; /* Allow height to adjust based on content */
    margin: 0 auto; /* Center horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.illustration img {
    width: 100%; /* Fill container horizontally */
    max-width: 700px;
    max-height: 85vh;
}
/*how it works section*/
.how_it_works{
   background: #f4f7fe;
   margin: 0 auto;
}
.how_it_works .heading p{
    margin-top: 80px;
    text-align: center;
    color: grey;
    font-size: 1.3rem;
}
.how_it_works .heading h2{
    text-align: center;
    margin-bottom: 20px;
    color: #f94d00;
   
}
.how_it_works .how_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    gap: 20px;
   
}
.how_it_works .how_container .how_container_details{
    width: 100%;
    max-width: 270px;
   
}
.how_it_works .how_container .how_container_details h2{
  font-size:1.5rem;
}
.how_it_works .how_container .how_container_details p{
    font-size: 1rem;
    margin-top: 15px;
    font-weight:500;
}
.how_it_works .how_container .how_container_details img{
    width: 100%;
    width: 50px;
}


/*Testimonial*/
.nav1 {
  /* font-family: 'Noto Serif', serif; */
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.header1 {
  margin-bottom: 2rem;
}

.header1 p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.header1 h1 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 900;
  color:#f94d00;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: var(--extra-light);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 40px;
  margin: auto;
  color: var(--text-light);
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.card .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.card .name:hover {
  color: var(--primary-color);
}

.footer1 h4 {
  font-family: "Noto Serif", serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer1 p {
  max-width: 450px;
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.footer1 button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

@media (width < 900px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (width < 600px) {
  .testimonials__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

 footer {
    width: 100%;
    margin: auto;
    background: #333;
    color: #fff;
    justify-content:center;
    align-items:center;
    padding:1rem;
  }

  .futa_container {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footerLi ul {
    margin-left:9rem;
    
  }

  .footerLi ul li {
    list-style: none;
    margin-bottom: 0.5rem;
  }

  .footerLi ul li a {
    text-decoration: none;
    color: #fff;
    font-size:1rem;
  }

  .name1 {
    color: orange;
    font-size:1rem;
  }

  .our_contacts {
    color:#f94d00;
  }

  .footerLi ul li a:hover {
    text-decoration: underline;
  }

  .footerLi ul li {
    cursor: pointer;
  }

    </style>
